body{
    background-color: lightsteelblue;
}
.slider{
    height: 900px;
}
#cards{
    display: flex;
    /* justify-content: space-evenly; */
    padding: 3%;
}
.card-img{
    flex-wrap: wrap;
    height: 250px;
}
.img-div{
    margin-left: 6%;
}
#vid-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}
.video{
    margin-top: 2%;
    margin-left: 2%;
}
#map-area{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}